body {
  margin: 0;
}



/* CТРАНИЦА 1 */
.header, .main-1, .footer {
  display: flex;
  position: relative;
  background: linear-gradient(to right, #000 32.5%, #fff 10%);
}

.header {
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  font: 500 33px/37px montserrat_regular, arial, helvetica, sans-serif;
  display: flex;
  padding: 2.6% 17% 0 4%;
  color: #fff;
}

.options {
  margin-right: 61.7%;

}

.lang {
  display: inline-block;
  padding-top: 25px;
  font: 500 20px/19px montserrat_regular, arial, helvetica, sans-serif;
  display: flex;
  color: #fff;
  cursor: pointer;
  align-items: center;
  transition: 0.5s;
}

.lang-btn {
  content: '';
  display: inline-block;
  cursor: pointer;
  background: #000;
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-flex;
  padding: 3px;
  margin-left: 26%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: 0.5s ease-in-out;
}

.lang:hover {
  opacity: 0.7;
}

.menu {
  height: 92px;
  width: 92px;
  background: #F2F2F2;
  transition: 0.3s;
}

.menu:hover {
  transform: rotate(90deg);
}

.menu__item-1 {
  margin: 0 auto;
  width: 41%;
  height: 4%;
  background: black;
  margin-bottom: 7%;
  margin-top: 47%;
}

.menu__item-2 {
  margin: 0 auto;
  width: 41%;
  height: 4%;
  background: black;
  margin-bottom: 42%;
}

.main-1 {
  width: 100%;
}

.main-1-mob {
  display: none;
}

.main-1__picture {
  margin: 5.2% 0 6% 13%;
  width: 549px;
  height: 562px;
}

.main-1__content {
  width: 46%;
  padding: 5% 0 0 3.5%;
}
.main-1__content_title {
  letter-spacing: -3px;
  padding-top: 6%;
  font: 800 82px/80px montserrat_regular, arial, helvetica, sans-serif;
  color: #000;
  margin-bottom: 3.5%;
}

.main-1__content_subtitle {
  font: 16px/21px montserrat_regular, arial, helvetica, sans-serif;
  color: #000;
  margin-bottom: 8%;
  width: 67%;
}

.main-1__content_button {
  font: 13px/0px montserrat_regular, arial, helvetica, sans-serif;
  padding: 13px 45px;
  color: #000;
  background: #fff;
  border: 1.5px solid black;
  margin: 0 8.5% 0 0;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.main-1__content_button:hover {
  background: #000;
  color: #fff;
}

.main-1__content_next {
  justify-content: space-between;
  font: 13px/0px montserrat_regular, arial, helvetica, sans-serif;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.main-1__content_next:hover {
font-style: bold;
  letter-spacing: 1px;
}

.main-1__content_arrow {
  align-items: center;
  position: relative;
  display: inline-block;
  margin-left: 16px;
  padding-right: 10px;
  margin-bottom: 4px;
  width: 43px;
  height: 1px;
  background: black;
}

.main-1__content_arrow::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 1.2px;
    top: -2.5px;
    right: -1px;
    background-color: black;
    transform: rotate(45deg);
}

.main-1__content_arrow::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 1.2px;
    top: 2.5px;
    right: -1px;
    background-color: black;
    transform: rotate(-45deg);
}

.footer {
  width: 100%;
}

.social {
  margin-right: 0.8%;
  margin-bottom: 1.8%;
  transition: 0.5s;
}

.social:hover {
  opacity: 0.5;
}

.social__inst {
  margin-left: 52px;
}

.footer__scroll {
  margin-left: 34.4%;
  padding-bottom: 49px;
}



/* СТРАНИЦА 2 */
.main-2 {
  background: #FAE8E4;
  width: 100%;
  height: 900px;
}

.main-2__bags_pink {
  position: relative;
  padding-left: 97px;
  background: left 40% no-repeat url('images/gray-bag.svg');
  margin: 1.9% 4.5% 0 9.3%;
  max-width: 100%;
  background-size: 56%;
  margin-bottom: -6%;
}

.main-2__box {
  margin-top: 12%;
  position: absolute;
  height: 53%;
  width: 25%;
  background: #fff;
  box-shadow: 16px 13px 57px -40px black;
  padding: 0.4% 5.5% 4.5% 3.5%;
}

.main-2__title {
  font: 700 45px/30px montserrat_regular, arial, helvetica, sans-serif;
  margin-bottom: 4%
}

.main-2__subtitle {
  letter-spacing: 4px;
  opacity: 0.5;
  color: black;
  letter-spacing: 0.07em;
  font: 700 17px/16px montserrat_regular, arial, helvetica, sans-serif;
  margin-bottom: 17%;
}

.main-2__text {
  color: black;
  opacity: 0.5;
  margin-bottom: 9%;
  letter-spacing: 0.37px;
  font: 400 16px/21px montserrat_regular, arial, helvetica, sans-serif;
}

.main-2__col {
  text-align: left;
  justify-content: space-between;
  width: 100%;
  height: 22%;
}

.main-2__col_gray, .main-2__col_blue, .main-2__col_green {
  cursor: pointer;
  display: inline-block;
  margin-right: 8px;
  margin-top: 19px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transition: .5s;
}

.main-2__col_gray {
  background: #DEDEDE;
}

.main-2__col_pink {
  position: static;
  display: inline-block;
  margin-right: 12px;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background: #F29F9F;
  transition: .5s;
  cursor: pointer;
}

.main-2__col_blue {
  background: #A8BFF9;
}

.main-2__col_green {
  background: #90BD8F;
  margin-right: 64px;
}

.main-2__co_price {
  position: absolute;
 display: inline-block;
 margin-top: 0;
 letter-spacing: -0.6px;
 font: 700 46px/63px montserrat_regular, arial, helvetica, sans-serif;
}

.main-2__col_gray:hover, .main-2__col_blue:hover, .main-2__col_green:hover {
  height: 38px;
  width: 38px;
}

.main-2__col_gray:hover:after, .main-2__col_blue:hover:after, .main-2__col_green:hover:after {
  height: 30px;
  width: 30px;
}

.main-2__amt {
  font: 500 15px/0 montserrat_regular, arial, helvetica, sans-serif;
  display: inline-block;
  justify-content: space-between;
 text-align: center;
  height: 6%;
  width: 24%;
  border: 1.5px solid black;
  padding: 1% 1% 3%;
  margin-right: 2.3%;
}

.main-2__amt_plus, .main-2__amt_minus {
  display: inline-block;
  margin-top: 20%;
  justify-content: space-between;
  cursor: pointer;
}

.main-2__amt_num {
  margin: 0 22px 0 22px;
  display: inline-block;
  margin-top: 20%;
  justify-content: space-between;
}

.main-2__button {
  height: 7%;
  width: 80%;
  border: solid 1.5px black;
  padding: 4% 13%;
  font: 700 13px/0 montserrat_regular, arial, helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
  background: white;
  color: black;
  transition: .5s ease-in-out;
}

.main-2__button:hover {
  background: black;
  color: white;
}


.footer-2 {
 position: relative;
 margin-left: -2%;
 width: 40%;
}

.main-2__next {
  padding-left: 2%;
  margin-right: 2%;
  font: 500 13px/16px montserrat_regular, arial, helvetica, sans-serif;
  transition: 0.8s ease-in-out;
  cursor: pointer;
}

.main-2__next:hover {
  letter-spacing: 1px;
}

.main-2__arrow {
  display: inline-block;
  height: 15px;
  width: 241px;
  background: center no-repeat url('images/big-arrow.svg');
}

/*СТРАНИЦА 3*/
.main-3 {
  width: 100%;
  height: 900px;
  background: #EBE3D8;
}

.main-3__look-picture {
  height: 900px;
  width: 73px;
  background: black;
  margin-left: 27%;
  position: absolute;
}

.look-picture__full {
  position: relative;
  margin-left: -415%;
  margin-top: 190%;
  box-shadow: -5px 14px 71px -48px black;
}

.main-3__box {
  margin: 17.5% 0 11% 56.6%;
  position: absolute;
  height: 276px;
  width: 374px;
  background: #FAE8E4;
  padding: 6px 53px 70px 46px;
  font-family: montserrat_regular, arial, helvetica, sans-serif;
}

.main-3__title {
  font-size: 43px;
  line-height: 34px;
  font-weight: 700;
  margin-bottom: 4.5%;
}

.main-3__subtitle {
  opacity: 0.5;
  color: black;
  letter-spacing: 0.07em;
  font: 700 17px/13px montserrat_regular, arial, helvetica, sans-serif;
  margin-bottom: 10%;
}

.main-3__text {
  width: 342px;
  opacity: 0.5;
  font: 400 17px/21px montserrat_regular, arial, helvetica, sans-serif;
  margin-bottom: 14%;
}

.main-3__amt {
  font: 500 15px/0 montserrat_regular, arial, helvetica, sans-serif;
  display: inline-block;
  justify-content: space-between;
  text-align: center;
  height: 6%;
  width: 24%;
  border: 1.5px solid black;
  padding: 1% 1% 6.5%;
  margin-right: 2.3%;
}

.main-3__amt_plus, .main-3__amt_minus {
  display: inline-block;
  margin-top: 20%;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
}

.main-3__amt_plus:hover, .main-3__amt_minus:hover {
  font-weight: 900;
}

.main-3__amt_num {
  margin: 0 22px 0 22px;
  display: inline-block;
  margin-top: 20%;
  justify-content: space-between;
}

.main-3__button {
  display: inline-block;
  height: 7%;
  width: 41%;
  border: solid 1.5px black;
  padding: 22px 49px 4px 49px;
  font: 700 13px/0 montserrat_regular, arial, helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
  background: #FAE8E4;
  color: black;
  transition: .5s ease-in-out;
}

.main-3__button:hover {
  background: black;
  color: #FAE8E4;
}

.footer-3 {
 margin-top: 22%;
 margin-left: 19%;
 width: 129%;
}

.footer-3__arrow {
  display: inline-block;
  height: 15px;
  width: 110px;
  margin-left: -20%;
  background: center no-repeat url('images/medium-arrow.svg');
}

.footer-3__next {
  padding-left: 0;
  margin-right: 25%;
  font: 500 13px/16px montserrat_regular, arial, helvetica, sans-serif;
  transition: 0.8s ease-in-out;
  cursor: pointer;
}

.footer-3__next:hover {
  letter-spacing: 1px;
}



/* РАЗРЕШЕНИЕ 1920px */
@media (min-width: 1920px) {
  .main-1, .header, .main-2, .main-3, .footer {
    width: 100%;
  }

  .main-2, .main-3 {
    height: 100%;
  }

  .footer-2 {
    margin-top: 50%;
  }

  .main-3__look-picture {
    height: 100%;
  }

  .look-picture__full {
      margin-top: 270%;
  }

  .main-3 {
    background: #ebe3d8;
  }
}



@media (max-width: 500px) {
    .main-1, .header, .main-2, .main-3, .footer {
      width: 100%;
    }

    .header, .header__logo_mob {
    background: white;
    color: black;
    }

    .header__logo_mob {
      padding: 4% 0 0 7%;
      text-align: center;
    }

    .header {
      justify-content: space-between;
    }

    .lang {
      display: none;
    }

    .menu {
      margin-left: 10%;
      height: 70px;
      width: 70px;
    }

    .main-1__content, .main-1__picture, .footer, .footer-2, .main-3__amt, .main-2__amt {
      display: none;
    }


    .main-1-mob {
      display: block;
      margin-top: -55.5%;
    }

    .main-1-mob__content_title {
      position: absolute;
      text-align: left;
      padding: 0 8%;
      letter-spacing: 1px;
      font: 700 55px/51px montserrat_regular, arial, helvetica, sans-serif;
    }

    .main-1-mob__arrow {
      position: absolute;
      content: '';
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 10px;
      -webkit-transform: rotate(45deg);
      transition: .5s;
      margin-top: 42.5%;
      margin-left: 48%;
      cursor: pointer;
    }

    .main-1-mob__arrow:hover {
      border-width: 0 4px 4px 0;
    }

    .main-1 {
      background: center 93% no-repeat url('images/mob-main-1-img.svg');
      height: 531px;
      background-size: 100%;
      padding: 0 0;
    }

    .main-2 {
      height: 802px;
    }

    .main-2__bags_pink {
      margin: 41% 0 -5% 19%;
      background: none;
      width: 61%;
      padding: 0;
    }

    .main-2__box {
      display: block;
      margin: 0 0 0 7%;
      width: 77%;
      height: 31%;
      padding: 1% 0% 0% 8%;
    }

    .main-2__title {
      font: 700 22px/20px montserrat_regular, arial, helvetica, sans-serif;
      margin-bottom: -3%;
    }

    .main-2__subtitle {
      font: 700 9px/10px montserrat_regular, arial, helvetica, sans-serif;
      margin-bottom: 2%;
    }

    .main-2__text {
      font: 500 10px/13px montserrat_regular, arial, helvetica, sans-serif;
      margin-bottom: 0%;
      width: 88%;
    }

    .main-2__col {
      margin-bottom: 9%;
    }

    .main-2__col_gray {
      margin-left: 1%;
    }

    .main-2__col_gray, .main-2__col_blue, .main-2__col_green {
      height: 22px;
      width: 22px;
      margin-top: 10px;
      margin-right: 6px;
    }

    .main-2__col_pink {
      height: 30px;
      width: 30px;
      margin-right: 8px;
      margin-top: 6%;
    }

    .main-2__col_green {
      margin-right: 20%;
    }

    .main-2__co_price {
      margin-top: 7%;
      font: 700 23px/28px montserrat_regular, arial, helvetica, sans-serif;
    }

    .main-2__button {
      padding: 4% 19%;
      border: solid 1px black;
    }


    .main-3 {
      height: 596px;
    }

    .main-3__look-picture {
      width: 41px;
      height: 596px;
    }

    .look-picture__full {
      width: 348px;
      margin-left: -215%;
      margin-top: 84%;
    }

    .main-3__box {
      width: 205px;
      height: 119px;
      display: block;
      margin: 72.5% 0 0 12%;
      padding: 2% 20% 18% 6%;
      display: inline-block;
    }

    .main-3__title {
        font: 700 22px/20px montserrat_regular, arial, helvetica, sans-serif;
        margin-bottom: -1%;
    }

    .main-3__subtitle {
        font: 700 11px/10px montserrat_regular, arial, helvetica, sans-serif;
        margin-bottom: -2%;
    }

    .main-3__text {
        font: 500 10px/13px montserrat_regular, arial, helvetica, sans-serif;
        width: 108%;
        margin-bottom: 12%;
    }

    .main-3__button {
      padding: 8% 9% 9% 22%;
      border: 1px solid black;
      width: 95%;
      height: 0%;
      font: 500 13px/0 montserrat_regular, arial, helvetica, sans-serif;
      letter-spacing: 1px;
    }

    .footer-3 {
      margin-left: 59%;
      margin-top: 33%;
      width: 76%;
      letter-spacing: 2px;
    }

    .footer-3__arrow {
      cursor: pointer;
      background: center no-repeat url('images/mob-big-arrow.svg');
      width: 136px;
      margin-left: 0%;
    }

    .footer-3__next {
      transition: .3s;
    }

    .footer-3__next:hover {
      font-weight: 700;
    }
