.body {
  margin: 0 auto;
  padding-bottom: 100%;
}

.header, .main-1, .footer {
  display: flex;
  position: relative;
  background: linear-gradient(to right, #000 35%, #fff 32%);
}

.header {
  justify-content: start;
}

.header__logo {
  font: 500 30px/37px montserrat_regular, arial, helvetica, sans-serif;
  display: flex;
  padding: 36px 20% 0px 52px;
  color: #fff;
}

.lang {
  display: inline-block;
  padding-top: 25px;
  font: 500 20px/24px montserrat_regular, arial, helvetica, sans-serif;
  display: flex;
  color: #fff;
  cursor: pointer;
  align-items: center;
  transition: 0.5s;
}

.lang-btn {
  content: '';
  display: inline-block;
  cursor: pointer;
  background: #000;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-flex;
  padding: 3px;
  margin-left: 7px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: 0.5s ease-in-out;
}

.lang:hover {
  opacity: 0.7;
}

.menu {
  height: 92px;
  width: 92px;
  background: #F2F2F2;
  margin-left: 66%;
  transition: 0.3s;
}

.menu:hover {
  transform: rotate(90deg);
}

.menu__item-1 {
  margin: 0 auto;
  width: 35px;
  height: 3.5px;
  background: black;
  margin-bottom: 6px;
  margin-top: 40px;
}

.menu__item-2 {
  margin: 0 auto;
  width: 35px;
  height: 3.5px;
  background: black;
  margin-bottom: 40px;
}

.main-1 {
  padding-left: 186px;
  padding-top: 169px;
  padding-bottom: 169px;
}
.main-1__content_title {
  font: bold 80px/82px montserrat_regular, arial, helvetica, sans-serif;
  color: #000;
  margin-bottom: 26px;
  margin-left: 56px;
}

.main-1__content_subtitle {
  font: 15px/21px montserrat_regular, arial, helvetica, sans-serif;
  color: #000;
  margin-left: 56px;
  margin-bottom: 36px;
  margin: 0 0 36px 56px auto;
  width: 467px;
}

.main-1__content_button {
  font: 13px/0px montserrat_regular, arial, helvetica, sans-serif;
  padding: 14px 41px;
  color: #000;
  background: #fff;
  border: 1.5px solid black;
  margin: 0 54px 0 56px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.main-1__content_button:hover {
  background: #000;
  color: #fff;
}

.main-1__content_next {
  justify-content: space-between;
  font: 13px/0px montserrat_regular, arial, helvetica, sans-serif;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.main-1__content_next:hover {
font-style: bold;
  letter-spacing: 1px;
}

.main-1__content_arrow {
  align-items: center;
  position: relative;
  display: inline-block;
  margin-left: 16px;
  margin-bottom: 4px;
  width: 43px;
  height: 1px;
  background: black;
}

.main-1__content_arrow::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 1.2px;
    top: -2.5px;
    right: -1px;
    background-color: black;
    transform: rotate(45deg);
}

.main-1__content_arrow::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 1.2px;
    top: 2.5px;
    right: -1px;
    background-color: black;
    transform: rotate(-45deg);
}

.main-2 {
  background: #FAE8E4;
}

.main-3 {
  background: #EBE3D8;
}

.social {
  margin-right: 12px;
  margin-bottom: 42px;
  transition: 0.5s;
}

.social:hover {
  opacity: 0.5;
}

.social__inst {
  margin-left: 52px;
}

.footer__scroll {
  padding-bottom: 40px;
  margin: 0 auto;
}
